<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta charset="utf-8" /> 
        <meta name="title" content="WSUCON" /> 
        <meta name="robots" content="index" />
        <meta name="author" content="abates" />
        <!--<meta http-equiv="X-UA-Compatible" content="IE=9" /> -->
        <meta name="copyright" content="Copyright @ WSULUG" />
        <meta name="description" content="Time for a serious blasty blast." />
        <meta name="keywords" content="omgwtfun, omgwtfunpizza, games, tournaments, wsu linux, wsucon, linux users group" />
        
        <link href="./images/wsucon.ico" rel="shortcut icon" title="WSUCON" />
        <link rel="stylesheet" type="text/css" href="./scripts/original-styles.css" />
        <script type="text/javascript" src="./scripts/facebook.js"></script>
        <script type="text/javascript" src="./scripts/jquery.js"></script>
        <script type="text/javascript" src="./scripts/sliding_effect.js"></script>

        <title>WSUCon</title>
        
        <!-- [if lte IE 6]> 
            <style type="text/css"> 
                #container{ height: 1%; }
                #headerleft {
                    left: 150px;
                }
            </style>
        <!--[endif]-->
		
    </head>

    <body> 
        <div id="topback" class="column"> </div> <!-- end div "topback" -->
        <div id="leftback" class="column">  </div> <!-- end div "leftback" -->
        
        <div id="outer-container">
            <!--
            <div id="topbar">

                <div id="topcontainer">
                    You are not logged in : <a href="/index.html">Log In</a> or <a href="/index.html">Sign Up</a> 
                </div> <!-- end div "topcontainer" -- >

            </div> <!-- end div "topbar" -- >
            -->
            <div id="inner-container">
                
                <div id="header">
                    <div id="headercenter" class="column">
                        <div id="headerbanner">
                            <a href="http://wsucon.wsu.edu"> <img border="0" src="./images/WSUConXI.png" width="100%" height="100%" /> </a>					
                        </div> <!-- end div "headerbanner" -->	
                    </div> <!-- end div "headerback" -->
                    <div id="headerleft" class="column">  </div> <!-- end div "headerleft" -->
                    <div id="headerright" class="column">  </div> <!-- end div "headerright" -->  
                </div> <!-- end div "header" -->
                <div id="center-container">
                
                    <div id="mfcontainer" class="column">
                        <div id="content">
                            
                            <h2>Title Goes Here</h2>
                            
                            <p>Content Goes Here ... </p>
                            
                            <h3>Get connected!</h3>
                            
                            <div class="fb-like" data-href="https://www.facebook.com/pages/WSUCon/157040581005218" data-width="220" data-layout="button_count" data-show-faces="false" data-send="true"> </div> <!-- end div "fb-like" -->
                            <a target="_blank" href="http://reddit.com/r/wsucon"> <img border="0" alt="Go To Reddit" height="22px" src="http://en-us.reddit.com/static/spreddit14.gif"> </a>
                            <a target="_blank" href="http://steamcommunity.com/groups/WSUCon"> <img height="22px" border="0" alt="Steam Community" src="http://cdn.steamcommunity.com/public/images/header/globalheader_logo.png"> </a>
                            
                            <div id="hidden-buffer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit	esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div> <!-- end div "content" -->
                    </div> <!-- end div "mfcontainer" --> 
                    
                    <div id="lfcontainer" class="column">
                        <div id="navigation-block">
                            <ul id="sliding-navigation">
                                <li class="sliding-element"> <a href="http://wsucon.wsu.edu">Home</a> </li>
                                <li class="sliding-element"> <a href="/matches.html">Matches</a> </li>
                                <li class="sliding-element"> <a href="/games.html">Games</a> </li>
                                <li class="sliding-element"> <a href="/pictures.html">Pictures</a> </li> 
                                <li class="sliding-element"> <a href="/what-to-bring.html">What To Bring</a> </li>
                                <li class="sliding-element"> <a href="/winterwonderlan.html">WinterWonderLAN</a> </li>
                                <li class="sliding-element"> <a href="/tournaments.html">Tournaments</a> </li>
                                <li class="sliding-element"> <a href="/console-gaming.html">Console Gaming</a> </li>
                                <li class="sliding-element"> <a href="/sponsors.html">Sponsors</a> </li>
                            </ul> <!-- end navbar ul -->
                        </div> <!-- end navigation-block -->
                    </div> <!-- end div "lfcontainer" -->

                    <div id="rfcontainer" class="column">
                        <div id="content">
                            <h2>Sponsors</h2>
                            <p> <a href="http://www.ednetics.com/" target="_blank"> <img height="auto" width="100%" border="0" src="./sponsors/ednetics.gif"> </a> </p>
                            <p> <a href="http://studentinvolvement.orgsync.com/org/aswsu" target="_blank"> <img height="auto" width="100%" border="0" src="./sponsors/aswsu.png"> </a> </p>
                            <p><a href="http://www.act-on.com/" target="_blank"> <img height="auto" width="100%" border="0" src="./sponsors/act-on.gif"> </a> </p>
                        </div> <!-- end div "content" -->
                    </div> <!-- end div "rfcontainer" -->

                </div> <!-- end div optimusprime-->

                <div id="footer"> LUG Forums <a href="http://lug.wsu.edu">lug.wsu.edu</a> | Copyright 2014 @ WSU LUG </div> <!-- end div "footer" -->    		

            </div> <!-- end div "center-container" -->
        </div> <!-- end div "masterchamber" -->
    </body> <!-- end body -->
</html> <!-- end html -->